@using EditorJournal
@using EditorJournal.Modals
@using EditorJournal.Modals.ViewModels

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\acer\source\repos\editorjournal\editorjournal\areas\admin\views\_viewimports.cshtml">c:\users\acer\source\repos\editorjournal\editorjournal\areas\admin\views\_viewimports.cshtml</a>