@model Company


<form method="post" class="container border p-4 text-center">
    <h3>Delete Company</h3>
    <hr class="Width 100%" />
    <div class="form-row">
        <div class="col">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col mt-5">

            <textarea class="form-control" rows="3" asp-for="State" placeholder="State" typeof="text"></textarea>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="col mt-5">
            <input asp-for="StreetAddress" type="text" class="form-control" placeholder="StreetAddress">
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="col mt-5">
            <input asp-for="City" type="text" class="form-control" placeholder="City">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="col mt-5">
            <input asp-for="PostalCode" type="text" class="form-control" placeholder="PostalCode">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="col mt-5">
            <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="Phone Number">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-lg-between align-Companys-center gap-4">
        <a asp-controller="Companys" asp-action="Index"
           class="link-danger"> Go to Previous page</a>
    </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    };
}